[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule ".vim/plugged/syntastic"]
	path = .vim/plugged/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule ".vim/plugged/vim-airline"]
	path = .vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/plugged/vim-code-dark"]
	path = .vim/plugged/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark
[submodule ".vim/plugged/vim-fugitive"]
	path = .vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/plugged/vim-gitgutter"]
	path = .vim/plugged/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/plugged/vim-hardtime"]
	path = .vim/plugged/vim-hardtime
	url = https://github.com/takac/vim-hardtime
[submodule ".vim/plugged/vim-mucomplete"]
	path = .vim/plugged/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete
